@import "../../app.scss";
.services {
  background: linear-gradient(180deg, #111132, #505064);
  height: 100%;
  display: flex;
  flex-direction: column;

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 50px;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
      }
    }
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logoRow {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      margin-bottom: 30px;
      margin-top: 40px;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;

        @include mobile {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
